---
export const prerender = true;

const text = await fetch("https://randomuser.me/api/?nat=ES&inc=gender,name,nat").then((res) => res.json())

const pageTitle = text.results[0].name.first + ' ' + text.results[0].name.last;
console.log(text.results[0].name.first + ' ' + text.results[0].name.last);

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
	</body>
</html>